table {
  margin: auto;
  width: 75%;
  border-collapse: collapse;
}

td {
  text-align: center;
  border-style: solid;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
}

tr {
  border-style: ridge;
}
thead{
  font-weight: bold;
  background-color: #d9dab0;
}

h1{
  font-size: 3rem;
  font-family: 'Oswald', sans-serif;
  color: #161d6f;
}
